.card-content-machine{
    color: whitesmoke;
    -webkit-box-shadow: inset -1px 3px 8px 5px #ff4444, 2px 5px 16px 0px #ff1000, 5px 5px 17px 5px rgba(0,0,0,0.11);
    text-align: center;
    background-color:  rgb(88, 88, 88);
    border-radius: 40px 40px 40px 40px;
}

.card-name-primary{
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

.image{
    height:75px;
    width:45px;
}