.card-content-arcade{
    color:#ff4444;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: column;
    margin-left: 620px;

}

.card-name{
    color:#ff4444;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}